#chatSection {
    width: 80%; /* adjust as needed */
    margin: 20px auto; /* centers the chat section on the page */
}

#messagesBox {
    width: 100%;
    height: 150px; /* adjust the height as per your requirement */
    border: 1px solid #ccc;
    overflow-y: auto; /* add a vertical scrollbar if messages overflow */
    margin-bottom: 10px;
    flex-direction: column-reverse;
    display: flex;
}

#messageInput {
    width: 80%; /* adjust as needed */
    padding: 10px;
    margin-right: 10px; /* space between input and button */
}

button {
    padding: 10px 20px;
}

#gameBoard {
    display: flex;
    flex-wrap: wrap;
    width: 400px;
    margin: 20px auto;
    font-size: 15px;
    list-style-type: none;
}
  
.row {
    display: flex;
    justify-content: center;
}
  
.cell {
    flex: 0 0 80px;
    height: 80px;
    border: 1px solid black;
    text-align: center;
    /* line-height: 80px; */
    cursor: pointer;
}
  
.hallway {
    background-color: lightgray;
}
  
.room {
    background-color: lightblue;
}
  
.restricted {
    background-color: rgba(39, 39, 39, 0.897);
}

.hidden {
  display: none;
}
  
.player {
    background-color: blue;
    color: white;
}