#container {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: center; */
}

#chatSection {
    width: 40%; /* adjust as needed */
    /* margin: 20px; centers the chat section on the page */
}

#messagesBox {
    width: 100%;
    height: 350px; /* adjust the height as per your requirement */
    border: 1px solid #ccc;
    overflow-y: auto; /* add a vertical scrollbar if messages overflow */
    margin-bottom: 10px;
    flex-direction: column-reverse;
    display: flex;
}

#messageInput {
    width: 87%; /* adjust as needed */
    padding: 10px;
    /* margin-right: 10px; space between input and button */
}

button {
    padding: 10px 10px;
}

#gameBoard {
    display: flex;
    flex-wrap: wrap;
    width: 400px;
    margin-left: 20px;
    font-size: 15px;
    list-style-type: none;
}
  
.row {
    display: flex;
}
  
.cell {
    flex: 0 0 80px;
    height: 80px;
    border: 1px solid black;
    text-align: center;
    /* line-height: 80px; */
    cursor: pointer;
    position: relative;
    overflow: hidden;
}
  
.hallway {
    background-color: lightgray;
}
  
.room {
    background-color: lightblue;
}
  
.restricted {
    background-color: rgba(39, 39, 39, 0.897);
}

.hidden {
  display: none;
}
  
.plum {
    background-color: purple;
}

.green {
    background-color: green;
}

.scarlet {
    background-color: red;
}

.white {
    background-color: white;
}

.peacock {
    background-color: blue;
}

.mustard {
    background-color: yellow;
}

.character-dot {
    position: absolute;
    bottom: 5px;
    left: 3px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 3px;
}

.character-dot:nth-child(2) {
    left: 18px;
}
  
.character-dot:nth-child(3) {
    left: 33px;
}
  
.character-dot:nth-child(4) {
    left: 48px;
}
  
.character-dot:nth-child(5) {
    left: 63px;
}
  
.character-dot:nth-child(6) {
    left: 63px;
    bottom: 21px;
}

/* Notes Display options */
#notes {
    width: 80%; /* adjust as needed */
    margin: 20px auto;
    padding: 20px;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 5px;
}
  
#notes ul {
    column-count: 2;
    column-gap: 10px;
}
  
#notes li {
    margin-bottom: 10px;
}
  
label {
    margin-left: 5px;
}
  
input[type="checkbox"] {
    margin-right: 5px;
}

.notes-header {
    display: flex;
    align-items: center;
}
  
.notes-header h3 {
    margin-right: 10px;
}