<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GGRZ Clue-Less</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
    <script src="{{ url_for('static', filename='main.js') }}" defer></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='chatbox.css') }}">
    <script type="text/javascript">var staticBasePath = "{{ url_for('static', filename='') }}";</script>
</head>
<body>
    <h1>GGRZ Clue-Less</h1>
    <!-- User Registration and Login Section -->
    <div id="userSection">
        <input type="text" id="usernameInput" placeholder="Username">
        <input type="password" id="passwordInput" placeholder="Password">
        <button onclick="registerUser()">Register</button>
        <button onclick="loginUser()">Login</button>
    </div>

    <!-- Lobby Section -->
    <div id="lobbySection" style="display: none;">
        <h2>Main Lobby</h2>
        <p>Welcome to the main lobby! You can start or join a game.</p>
        <!-- Join and Start buttons are always in the lobby -->
        <button id="joinButton" onclick="join()">Join</button>
        <button id="startButton" onclick="startGame()">Start</button>
        <div id="playersList"></div>
    </div>

    <!-- Chat Section -->
    <div id="chatSection" style="display: none; ">
        <!-- This is the message box where messages will be displayed -->
        <div id="messagesBox"></div>

        <div class="message-input" style="display: flex;">
            <div style="flex-grow: 1">
                <!-- This is the input area and button, placed outside the message box -->
                <input type="text" id="messageInput" placeholder="Enter your message">
            </div>
            <div style="flex-grow: 0">
                <button onclick="sendMessage()">Send Message</button>
            </div>
        </div>
    </div>

    <!-- Game Section -->
    <div id="gameSection" style="display: none;">

        <h2>Welcome to the Game!</h2>
    
        <!-- Game content -->
        <div class="message-game-combo" style="display: flex;">\
            <div id="gameBoard" style="flex-grow: 1">
                <li>
                    <div class="row">
                        <div class="cell room" data-coordinates="0,0">Study</div>
                        <div class="cell hallway" data-coordinates="0,1"></div>
                        <div class="cell room" data-coordinates="0,2">Hall</div>
                        <div class="cell hallway" data-coordinates="0,3"></div>
                        <div class="cell room" data-coordinates="0,4">Lounge</div>
                    </div>
                    <div class="row">
                        <div class="cell hallway" data-coordinates="1,0"></div>
                        <div class="cell restricted" data-coordinates="1,1"></div>
                        <div class="cell hallway" data-coordinates="1,2"></div>
                        <div class="cell restricted" data-coordinates="1,3"></div>
                        <div class="cell hallway" data-coordinates="1,4"></div>
                    </div>
                    <div class="row">
                        <div class="cell room" data-coordinates="2,0">Library</div>
                        <div class="cell hallway" data-coordinates="2,1"></div>
                        <div class="cell room" data-coordinates="2,2">Billiard Room</div>
                        <div class="cell hallway" data-coordinates="2,3"></div>
                        <div class="cell room" data-coordinates="2,4">Dining Room</div>
                    </div>
                    <div class="row">
                        <div class="cell hallway" data-coordinates="3,0"></div>
                        <div class="cell restricted" data-coordinates="3,1"></div>
                        <div class="cell hallway" data-coordinates="3,2"></div>
                        <div class="cell restricted" data-coordinates="3,3"></div>
                        <div class="cell hallway" data-coordinates="3,4"></div>
                    </div>
                    <div class="row">
                        <div class="cell room" data-coordinates="4,0">Conservatory</div>
                        <div class="cell hallway" data-coordinates="4,1"></div>
                        <div class="cell room" data-coordinates="4,2">Ballroom</div>
                        <div class="cell hallway" data-coordinates="4,3"></div>
                        <div class="cell room" data-coordinates="4,4">Kitchen</div>
                    </div>
                </li>
            </div>
        </div>
        <div class="game-content" style="display: flex;">
            <div style="flex-grow: 1">
                <h3>Game Instructions:</h3>
                <ul>
                    <li>Your turn can consist of:</li>
                    <ul>
                        <li>    Moving your character (to move click on the gameboard) and</li>
                        <li>    Making a suggestion and</li>
                        <li>    Making an accusation</li>
                        <li>    Then end turn</li>
                    </ul>
                    <li>To win:</li>
                    <ul>
                        <li>    Make a correct accusation</li>
                    </ul>
                </ul>
            </div>
            <div style="flex-grow: 1">
                <h3>Current Players Turn:</h3>
                <!-- <div id="currentPlayersTurn"></div> -->
                <div style="display: flex">
                    <!-- <div style="flex-grow: 1">
                        <button onclick="movePlayer()">Move</button>
                    </div> -->
                    <div style="flex-grow: 1">
                        <button id="suggestionButton">Make Suggestion</button>
                        <!-- <button id=onclick="suggestionMessage()">Make Suggestion</button> -->
                    </div>
                    <div style="flex-grow: 1">
                        <button id="accusationButton">Make Accusation</button>
                        <!-- <button onclick="accusationMessage()">Make Accusation</button> -->
                    </div>
                    <div style="flex-grow: 1">
                        <button onclick="endTurnMessage()">End Turn</button>
                    </div>
                </div>
            </div>
        </div>
        

        <div class="playerUtils" style="display: flex;">
            <div style="flex-grow: 1">
                <h3>Players:</h3>
                <div id="playersInGameList"></div>
            </div>

            <div style="flex-grow: 1">
                <h3>Your Cards:</h3>
                <ul id="listCardsContainer"></ul>
                <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    
                <script>
                    // Function to update the list using AJAX
                    function updateList() {
                        fetch('/update_list')
                        .then(response => response.json())
                        .then(data => {
                            console.log('Received data:', data.data);
                            
                                // Update the frontend list display
                                listCards = data.data;

                                // Clear the existing list items
                                const listCardsContainer = document.getElementById('listCardsContainer');
                                listCardsContainer.innerHTML = '';

                                // Generate the list and populate it in the container
                                listCards.forEach(card => {
                                    const li = document.createElement('li');
                                    li.textContent = card;
                    
                                    // Add click event listener to each list item
                                    li.addEventListener('click', () => {
                                        var message = 'Clicked on ' + card;
                                        socket.emit('send_message', { username: currentUsername, message: message });
                                    });
                    
                                    listCardsContainer.appendChild(li);
                                });
                        })
                        .catch(error => console.error('Error:', error));
                    }
            
                    // Call the updateList function on page load or in response to some event
                    $(document).ready(function() {
                        updateList();
                    });
                </script>
            </div>

            <div style="flex-grow: .7">
                <div class="notes-header">
                    <h3>Note Sheet:</h3>
                    <button id="toggleNotes">Toggle Notes</button>
                </div>
                <div id="notes" class="hidden">
                    <h4>Suspects</h4>
                    <ul id="suspects-list">
                        <li><input type="checkbox" id="suspect1"><label for="suspect1">Miss Scarlet</label></li>
                        <li><input type="checkbox" id="suspect2"><label for="suspect2">Colonel Mustard</label></li>
                        <li><input type="checkbox" id="suspect3"><label for="suspect3">Mrs. White</label></li>
                        <li><input type="checkbox" id="suspect4"><label for="suspect4">Mr. Green</label></li>
                        <li><input type="checkbox" id="suspect5"><label for="suspect5">Mrs. Peacock</label></li>
                        <li><input type="checkbox" id="suspect6"><label for="suspect6">Professor Plum</label></li>
                    </ul>
                    <h4>Weapons</h4>
                    <ul id="weapons-list">
                        <li><input type="checkbox" id="weapon1"><label for="weapon1">Candlestick</label></li>
                        <li><input type="checkbox" id="weapon2"><label for="weapon2">Lead Pipe</label></li>
                        <li><input type="checkbox" id="weapon3"><label for="weapon3">Revolver</label></li>
                        <li><input type="checkbox" id="weapon4"><label for="weapon4">Rope</label></li>
                        <li><input type="checkbox" id="weapon5"><label for="weapon5">Knife</label></li>
                        <li><input type="checkbox" id="weapon6"><label for="weapon6">Wrench</label></li>
                    </ul>
                    <h4>Rooms</h4>
                    <ul id="rooms-list">
                        <li><input type="checkbox" id="room1"><label for="room1">Study</label></li>
                        <li><input type="checkbox" id="room2"><label for="room2">Hall</label></li>
                        <li><input type="checkbox" id="room3"><label for="room3">Lounge</label></li>
                        <li><input type="checkbox" id="room4"><label for="room4">Library</label></li>
                        <li><input type="checkbox" id="room5"><label for="room5">Billiard Room</label></li>
                        <li><input type="checkbox" id="room6"><label for="room6">Dining Room</label></li>
                        <li><input type="checkbox" id="room7"><label for="room7">Conservatory</label></li>
                        <li><input type="checkbox" id="room8"><label for="room8">Ballroom</label></li>
                        <li><input type="checkbox" id="room9"><label for="room9">Kitchen</label></li>
                    </ul>
                </div>
            </div>
            
        </div>

        <div id="suggestionMenu" class="hidden">
            <h3>Make a suggestion:</h3>
            <label for="suspect">Choose a suspect:</label>
            <select name="suspect" id="suggestSuspect">
                <option value="Miss Scarlet">Miss Scarlet</option>
                <option value="Colonel Mustard">Colonel Mustard</option>
                <option value="Mrs. White">Mrs. White</option>
                <option value="Mr. Green">Mr. Green</option>
                <option value="Mrs. Peacock">Mrs. Peacock</option>
                <option value="Professor Plum">Professor Plum</option>
            </select>
            <label for="weapon">Choose a weapon:</label>
            <select name="weapon" id="suggestWeapon">
                <option value="Rope">Rope</option>
                <option value="Lead Pipe">Lead Pipe</option>
                <option value="Knife">Knife</option>
                <option value="Wrench">Wrench</option>
                <option value="Candlestick">Candlestick</option>
                <option value="Revolver">Revolver</option>
            </select>
            <button id="submitSuggestionButton">Submit Suggestion</button>
        </div>

        <div id="accusationMenu" class="hidden">
            <h3>Make an accusation:</h3>
            <label for="suspect">Choose a suspect:</label>
            <select name="suspect" id="accuseSuspect">
                <option value="Miss Scarlet">Miss Scarlet</option>
                <option value="Colonel Mustard">Colonel Mustard</option>
                <option value="Mrs. White">Mrs. White</option>
                <option value="Mr. Green">Mr. Green</option>
                <option value="Mrs. Peacock">Mrs. Peacock</option>
                <option value="Professor Plum">Professor Plum</option>
            </select>
            <label for="place">Choose a place:</label>
            <select name="place" id="accuseLocation">
                <option value="Study">Study</option>
                <option value="Kitchen">Kitchen</option>
                <option value="Hall">Hall</option>
                <option value="Lounge">Lounge</option>
                <option value="Library">Library</option>
                <option value="Billiard Room">Billiard Room</option>
                <option value="Dining Room">Dining Room</option>
                <option value="Conservatory">Conservatory</option>
                <option value="Ballroom">Ballroom</option>
            </select>
            <label for="weapon">Choose a weapon:</label>
            <select name="weapon" id="accuseWeapon">
                <option value="Rope">Rope</option>
                <option value="Lead Pipe">Lead Pipe</option>
                <option value="Knife">Knife</option>
                <option value="Wrench">Wrench</option>
                <option value="Candlestick">Candlestick</option>
                <option value="Revolver">Revolver</option>
            </select>
            <button id="submitAccusationButton">Submit Accusation</button>
        </div>
    </div>
</body>
</html>
